@inherits LayoutComponentBase

@using Radzen
@using Radzen.Blazor


  




<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <RadzenDialog />

    <div class="content px-3">
        @Body

    </div>

</div>
